$img-path: '/img/';

$fe-primary: #f60f0f;
$fe-accent: #e64a19;

$body-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$medium-range: (40.063em, 64em);
$medium-up: 'only screen and (min-width:#{lower-bound($medium-range)})';

body {
  font-family: $body-font-family;
  font-weight: bold;
  background: url(#{$img-path}background-mobile.jpg);
  background-position: center center;
  background-size: cover;

  @media #{$medium-up} {
    background: url(#{$img-path}background.jpg);
    background-position: center center;
    background-size: cover;
  }

  a {
    font-weight: bold;
    color: black;
  }
}

.content {
  @include grid-column($columns: 12, $center: true);
  margin-top: 300px;
  color: white;
  padding: rem-calc(12 0);

  @media #{$medium-up} {
    @include grid-column($columns: 10, $center: true);
    margin-top: 450px;
  }

  img {
    display: block;
    margin: 150px auto 40px;
  }

  .typeform-share {
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
    width: 200px;
    margin: 40px auto;
    color: white;

    @media #{$medium-up} {
      margin: 0 auto;
    }
  }

  h1, h2, p, a {
    text-align: center;
    opacity: .8;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .7);
    line-height: 1.2;
  }

  a {
    color: $fe-primary;
    text-decoration: none;
  }

  h1 {
    font-size: rem-calc(28);
    margin-top: 0;
    font-weight: 300;
    color: #fff;

    @media #{$medium-up} {
      font-size: 3rem;
      margin: 50px auto;
    }
  }

  h2 {
    font-size: rem-calc(18);
    margin-top: 10px;

    @media #{$medium-up} {
      font-size: 28px;
      line-height: 30px;
    }
  }

  p {
    a {
      display: block;

      @media #{$medium-up} {
        display: inline-block;
      }
    }
  }
}

footer {
  position: absolute;
  right: 30px;
  bottom: 0;
  opacity: .9;

  a {
    font-weight: bold;
    text-decoration: none;
    opacity: .8;
    color: black;
  }
}
